.all {
    background-image: url(images/brienne-hong-xEPMg4qfjOs-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    box-sizing: border-box;
}

.registration-left,
.registration-right {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
}

.registration-left {
    flex-basis: 60%;
}

.registration-right {
    flex-basis: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
}

.farmer-id-number {
    font-size: 48px;
    font-weight: bold;
    background-color: #f5f5f5;
    padding: 20px;
    padding-top: 40px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
}

.form-field {
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 5px;
    text-align: left;
}

.gender-group {
    display: flex;
    justify-content: space-around;
}

.register-btn {
    background-color: #28a745;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 50px; /* Make the button rounder */
    cursor: pointer;
    width: 345px;
}

.register-btn:hover {
    background-color: #218838;
}

.poto-upload-btn {
    width: 345px;
    height: 50px;
}

input, label {
    color: #000; /* Set text color for better contrast */
}
.farmerregistation{
    color: white;
}
.farmerid{
    color: white;
}
